<% @collection.each.with_index(1) do |vinyl_record, index| %>
    <strong>Record <%= index %>. </strong>
    <strong>Artist: </strong><%= vinyl_record.artist %>
    <strong>Album: </strong><%= vinyl_record.album %>
    <strong>Genre: </strong><%= vinyl_record.genre %>
    <strong>Release Date: </strong><%= vinyl_record.release_date %>
    <button style="wwidth:175px; margin:10px; padding:5px; border-color:black; border-radius: 15px;" onclick="window.location.href = '/vinyl_records/<%= vinyl_record.id %>';">View This Record</button>
    <hr>
<% end %>

